/* Created by: Brandon Brandhuber
* Created on: February 19th, 2025
* This file contains the CSS for index.html
*/

body {
    background-color: cadetblue;
}

h1 {
    
    background-color: rgb(236, 236, 16);
    color: hsl(114, 77%, 44%);
    padding: 40px;
    text-align: center;
}

p {
    background-color: #0ce0e7;
}
